<Page xmlns="http://schemas.nativescript.org/tns.xsd" navigatingTo="navigatingTo" class="page">

<Page.actionBar>
    <ActionBar title="Ustawienia" icon="" class="action-bar">
    </ActionBar>
</Page.actionBar>

    <ListView items="{{ options }}" itemTap="onItemTap" class="list-group">
        <ListView.itemTemplate>
            <StackLayout class="list-group-item">
                <Label text="{{ label }}" textWrap="true"/>
            </StackLayout>
        </ListView.itemTemplate>
    </ListView>

</Page>